.container{
    display: flex;
    justify-content: center;
}
@keyframes dropdown{
    0%{transform: translateY(-100px);}
    100%{transform: translateY(0px);}
}
.topbar{
    padding-left: 15px;
    border-radius: 0 0 25px 25px;
    align-items: center;
    color:white;
    background-color: black;
    width: 60%;
    height: 100px;
    display: flex;
    animation-name: dropdown;
    animation-duration: 2s;
}
.slideText{
    border-radius: 0px 20px 0px 0px;
    margin-top: 100px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    background-color:black;
   
    height: 500px;
    display: flex;
    justify-content: center;
}
.fullSlide{
    width:15%;
}
svg{
    animation-name: slidingText;
    animation-duration: 3s;
}
@keyframes slidingText{
    0%{transform: translateY(-50px);}
    100%{transform: translateY(0px);}
}
#backgroundProperties{
    background-image: linear-gradient(to bottom right, rgb(156, 102, 255), rgb(128, 204, 255));
    height: 1000px;
}
body, html{
    font-family: 'Montserrat';font-size: 22px;
    padding: 0;
    margin: 0;
}